# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
### Objectives:
- Open Source Data Science tools
- Jupyter Notebooks and Jupyter Lab
- Libraries for Data Science
- Tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-Learn

| Data Science Tools |
|------------------|
|Spark|
|Kubeflow|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
a = 3 + 6
b = 3*1
c = a/b
print(c)

3.0

In [10]:
# This a simple arithmetic expression to mutiply then add integers
a=(3*4)+5
print(a)

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
mints=200
hTomin= 60
result=200/60
print(result)

3.3333333333333335

## Author
Vikram Singh